<head>
<script src="javascripts/FrontRunner.js"></script>
<script src="javascripts/main.js"></script>
</head>

<body>
<p id="test1"></p>
<p id="test2">success</p>
<p id="test3">success</p>
<p id="test4"></p>
<p id="test5">success</p>
<p id="test6">success</p>
</body>
